<h2>Comunica con il servizio </h2>
<div>
  <h1>Comunica con il prefizio </h1>
  <button (click)="getCars()">Ottieni dati della tabella</button>
  <ul>
    <li *ngFor="let user of autovettura">{{ user.id }}</li>
  </ul>

  <form (submit)="addCar()">
    <input type="number" [(ngModel)]="id" name="id">
    <input type="text" [(ngModel)]="targa" name="targa" placeholder="targa">
    <input type="text" [(ngModel)]="marca" name="marca" placeholder="marca">
    <input type="text" [(ngModel)]="modello" name="modello" placeholder="modello">
    <input type="number" [(ngModel)]="costo" name="costo">
    <input type="text" [(ngModel)]="info" name="info" placeholder="info">
    <input type="text" [(ngModel)]="img" name="img" placeholder="img">
    <button type="submit">Aggiungi</button>
  </form>
</div>